{{#if posts.length}}
  <h2 class="dashboard-text text-center">Your Posts</h2>
  <div class="row">
    {{#each posts as |post|}}
      <div class="col-11 mx-auto my-2">
        {{> post-info post}}
        <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
      </div>
    {{/each}}
  </div> 
{{/if}}

{{#unless posts.length}}
  <h3 class="dashboard-text text-center">You have no posts! Why not create one?</h3>
{{/unless}}
