.container-fluid {
  padding: 0px;
}

.new-post-form {
  padding: 0px 16px;
}

.dashboard-text {
  text-align: center;
}

.edit-link {
  display: block;
}

.card-title {
  margin-bottom: 0px;
}

.subtext {
  font-size: small;
  margin-bottom: 0px;
}

.card-subtext {
  display: inline;
}

.navbar-light .navbar-nav .nav-link {
  padding: 6px !important;
}

@media only screen and (max-width: 991px) {
  .navbar-light .navbar-nav .nav-link {
    width: 76px;
  }
}